.App {
  text-align: center;
}






/*              Rows      */


.rowContainer{
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 1%;
}

 .rowContainer::-webkit-scrollbar {
   display: none;
 }

.rowPoster{
 
  object-fit: contain;
  max-height: 200px;
  width: 100%;
  margin: 0 0.5%;
  transition: transform 450ms;


}

.rowPoster:hover{

  transform: scale(1.10);

}